GH_POOL_SERVER=http://localhost:8000
GH_POOL_CLIENT_TOKEN=change-me-client
GH_POOL_WORKER_TOKEN=change-me-worker
GH_POOL_TOKEN=change-me-browser

GH_POOL_HOST=127.0.0.1
GH_POOL_PORT=8000
GH_POOL_RELAY_HOST=127.0.0.1
GH_POOL_RELAY_PORT=8001

GH_POOL_DATABASE_URL=postgresql:///pool
GH_POOL_DATA_DIR=./data
GH_POOL_BLOB_DIR=./data/blobs
GH_POOL_STORAGE=/var/lib/gh-chrome

GH_POOL_FLUSH_EVERY=0.2
GH_POOL_EVENT_CAP=104857600
GH_POOL_LOST_AFTER=300
GH_POOL_LEASE_WAIT=30

GH_POOL_SPOOL_DIR=/tmp
GH_POOL_SPOOL_CAP=268435456
GH_POOL_TASKS=gh_pool.tasks
GH_POOL_DEPS=/tmp/pool-deps
